<section class="customers">
    <div class="container customers-container">
      <h2 class="customers-title">What our Customers Say</h2>
      <p class="customers-text">
        Don't just take our word for it - see what our satisfied customers
        have to say
      </p>
      <ul class="customers-list">
        <li class="customers-item">
          <div class="icon-wrap">
            <svg class="icon-star" width="17" height="16">
              <use href="/img/icons.svg#star"></use>
            </svg>
            <svg class="icon-star" width="17" height="16">
              <use href="/img/icons.svg#star"></use>
            </svg>
            <svg class="icon-star" width="17" height="16">
              <use href="/img/icons.svg#star"></use>
            </svg>
            <svg class="icon-star" width="17" height="16">
              <use href="/img/icons.svg#star"></use>
            </svg>
            <svg class="icon-star" width="17" height="16">
              <use href="/img/icons.svg#star"></use>
            </svg>
            <svg class="icon-star" width="17" height="16">
              <use href="/img/icons.svg#star"></use>
            </svg>
          </div>
          <p class="customers-desk">
            “The Best app I have used to order food in a while, so many
            options to choose from too, I would recommend to a freind, No
            questions asked”
          </p>
          <div class="customers-wrap">
            <img
              class="customers-img"
              src="/img/customers-say/sumith-shah.png"
              alt="sumith-shah-avatar"
              width="48"
              height="49"
              loading="lazy"
            />
            <div class="customers-subwrap">
              <h3 class="customers-subtitle">Sumith Shah</h3>
              <p class="customers-subtext">Some Dude</p>
            </div>
          </div>
        </li>
        <li class="customers-item">
          <div class="icon-wrap">
            <svg class="icon-star" width="17" height="16">
              <use href="/img/icons.svg#star"></use>
            </svg>
            <svg class="icon-star" width="17" height="16">
              <use href="/img/icons.svg#star"></use>
            </svg>
            <svg class="icon-star" width="17" height="16">
              <use href="/img/icons.svg#star"></use>
            </svg>
            <svg class="icon-star" width="17" height="16">
              <use href="/img/icons.svg#star"></use>
            </svg>
            <svg class="icon-star" width="17" height="16">
              <use href="/img/icons.svg#star"></use>
            </svg>
            <svg class="icon-star" width="17" height="16">
              <use href="/img/icons.svg#star"></use>
            </svg>
          </div>
          <p class="customers-desk">
            “The ease with which I can just go in and order what i want was
            amazing, It has been a very pleasant experience ordering from
            this app”
          </p>
          <div class="customers-wrap">
            <img
              class="customers-img"
              src="/img/customers-say/sumith-shah-2.png"
              alt="sumith-shah-2-avatar"
              width="48"
              height="49"
              loading="lazy"
            />
            <div class="customers-subwrap">
              <h3 class="customers-subtitle">Sumith Shah</h3>
              <p class="customers-subtext">Some Dude</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>