<section id="favorites" class="favorite">
  <div class="container favorite-container">
    <h2 class="favorite-titel">Some of Our Favorites</h2>
    <p class="favorite-text">Looking for something delicious?</p>
    <ul class="favorite-list">
      <li class="favorite-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
            ./img/favorites/gamburger-desktop.png 1x,
            ./img/favorites/gamburger-desktop@2x.png 2x"
            width="315"
            height="315"
            loading="lazy"
          />
          <source
            media="(min-width: 768px)"
            srcset="
            ./img/favorites/gamburger-tablet.png 1x,
            ./img/favorites/gamburger-tablet@2x.png 2x"
            width="268"
            height="268"
            loading="lazy"
          />
          <source
            media="(max-width: 767px)"
            srcset="
            ./img/favorites/gamburger-mobile.png 1x,
            ./img/favorites/gamburger-mobile@2x.png 2x"
            width="223"
            height="223"
            loading="lazy"
          />
        <img
          src="./img/favorites/gamburger-mobile.png"
          alt="gamburger"
          width="223"
          height="223"
          loading="lazy"
        />
        </picture>
      </li>
      <li class="favorite-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
            ./img/favorites/pasta-desktop.png 1x,
            ./img/favorites/pasta-desktop@2x.png 2x"
            width="315"
            height="315"
            loading="lazy"
          />
          <source
            media="(min-width: 768px)"
            srcset="
            ./img/favorites/pasta-tablet.png 1x,
            ./img/favorites/pasta-tablet@2x.png 2x"
            width="268"
            height="268"
            loading="lazy"
          />
          <source
            media="(max-width: 767px)"
            srcset="
            ./img/favorites/pasta-mobile.png 1x,
            ./img/favorites/pasta-mobile@2x.png 2x"
            width="223"
            height="223"
            loading="lazy"
          />
        <img
        src="./img/favorites/pasta-mobile.png"
          alt="pasta"
          width="223"
          height="223"
          loading="lazy"
        />
        </picture>
      </li>
    <li class="favorite-item">
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
          ./img/favorites/pizza-desktop.png 1x,
          ./img/favorites/pizza-desktop@2x.png 2x"
          width="315"
          height="315"
          loading="lazy"
        />
        <source
          media="(min-width: 768px)"
          srcset="
          ./img/favorites/pizza-tablet.png 1x,
          ./img/favorites/pizza-tablet@2x.png 2x"
          width="268"
          height="268"
          loading="lazy"
        />
        <source
          media="(max-width: 767px)"
          srcset="
          ./img/favorites/pizza-mobile.png 1x,
          ./img/favorites/pizza-mobile@2x.png 2x"
          width="223"
          height="223"
          loading="lazy"
        />
      <img
        src="./img/favorites/pizza-mobile.png"
        alt="pizza"
        width="223"
        height="223"
        loading="lazy"
      />
      </picture>
      </li>
      <li class="favorite-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
            ./img/favorites/chicken-desktop.png 1x,
            ./img/favorites/chicken-desktop@2x.png 2x"
            width="315"
            height="315"
            loading="lazy"
          />
          <source
            media="(min-width: 768px)"
            srcset="
            ./img/favorites/chicken-tablet.png 1x,
            ./img/favorites/chicken-tablet@2x.png 2x"
            width="268"
            height="268"
            loading="lazy"
          />
          <source
            media="(max-width: 767px)"
            srcset="
            ./img/favorites/chicken-mobile.png 1x,
            ./img/favorites/chicken-mobile@2x.png 2x"
            width="223"
            height="223"
            loading="lazy"
          />
        <img
        src="./img/favorites/chicken-mobile.png"
          alt="chicken"
          width="223"
          height="223"
          loading="lazy"
        />
        </picture>
      </li>
      <li class="favorite-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
            ./img/favorites/salat-desktop.png 1x,
            ./img/favorites/salat-desktop@2x.png 2x"
            width="315"
            height="315"
            loading="lazy"
          />
          <source
            media="(min-width: 768px)"
            srcset="
            ./img/favorites/salat-tablet.png 1x,
            ./img/favorites/salat-tablet@2x.png 2x"
            width="268"
            height="268"
            loading="lazy"
          />
          <source
            media="(max-width: 767px)"
            srcset="
            ./img/favorites/salat-mobile.png 1x,
            ./img/favorites/salat-mobile@2x.png 2x"
            width="223"
            height="223"
            loading="lazy"
          />
        <img
        src="./img/favorites/salat-mobile.png"
          alt="salat"
          width="223"
          height="223"
          loading="lazy"
        />
        </picture>
      </li>
      <li class="favorite-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
            ./img/favorites/borshch-desktop.png 1x,
            ./img/favorites/borshch-desktop@2x.png 2x"
            width="315"
            height="315"
            loading="lazy"
          />
          <source
            media="(min-width: 768px)"
            srcset="
            ./img/favorites/borshch-tablet.png 1x,
            ./img/favorites/borshch-tablet@2x.png 2x"
            width="268"
            height="268"
            loading="lazy"
          />
          <source
            media="(max-width: 767px)"
            srcset="
            ./img/favorites/borshch-mobile.png 1x,
            ./img/favorites/borshch-mobile@2x.png 2x"
            width="223"
            height="223"
            loading="lazy"
          />
        <img
        src="./img/favorites/borshch-mobile.png"
          alt="borshch"
          width="223"
          height="223"
          loading="lazy"
        />
        </picture>
      </li>
    </ul>
  </div>
</section>