<header class="header">
  <div class="container header-container">
    <a class="logo" href="../index.html">
      <img 
      srcset="/img/header/logo@2x.png 2x"
      src="/img/header/logo.png" 
      alt="logo" 
      width="66" 
      height="52"
      loading="lazy" />
    </a>
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link" href="../index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#offerings">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#service">Service</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="#favorites">Menu</a></li>
        <li class="nav-item"><a class="nav-link" href="#footer">Contact</a></li>
      </ul>
    <button class="header-btn btn-order-js" type="button" aria-label="order now">Order Now</button>
    <button class="btn-open-mobile" type="button" aria-label="open mobile menu">
      <svg class="icon-burger" width="28" height="28">
        <use href="/img/icons.svg#burger"></use>
      </svg>
    </button>
  

  <!-- ---------- MOBILE MENU --------- -->
<div class="mobile">
  <button class="btn-mobile-close" aria-label="close mobile menu">
    <svg class="icon-mobile-close" width="12" height="12">
      <use href="/img/icons.svg#close"></use>
    </svg>
  </button>
  <ul class="mobile-list">
    
    <li class="mobile-item"><a href="../index.html">Home</a></li>
    <li class="mobile-item"><a href="#offerings">About</a></li>
    <li class="mobile-item"><a href="#service">Service</a></li>
    <li class="mobile-item"><a href="#favorites">Menu</a></li>
    <li class="mobile-item"><a href="#footer">Contact</a></li>
  </ul>
</div>
</div>
</header>



