<section class="hero">
    <div class="container hero-container">
        <h1 class="hero-title">Enjoy Your Favorite Food From Anywhere</h1>
        <p class="hero-text">
          With just a few clicks, you can have your favorite meals delivered
          straight to your doorstep, no matter where you are. Order now and
          enjoy a hassle-free and delicious meal from the comfort of your
          own home.
        </p>
        <button class="hero-btn btn-order-js" type="button" aria-label="order now">Order Now</button>

<!-- SWIPER -->
      <div class="hero-swiper">
        <div class="swiper sw">
          <ul class="hero-img-list swiper-wrapper">
                <li class="hero-img-item swiper-slide">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
            /img/hero/foto-1-desktop.png 1x,
            /img/hero/foto-1-desktop@2x.png 2x"
            width="528"
            height="528"
          />
          <source
            media="(min-width: 768px)"
            srcset="
            /img/hero/foto-1-tablet.png 1x,
            /img/hero/foto-1-tablet@2x.png 2x"
            width="292"
            height="292"
          />
            <img
              class="hero-img"
              src="/img/hero/foto-1-tablet.png"
              alt="meal"
              width="292"
              height="292"
              loading="lazy"
            />
          </picture>
                </li>
                <li class="hero-img-item swiper-slide">
                  <picture>
                    <source
                      media="(min-width: 1280px)"
                      srcset="
                      /img/hero/foto-2-desktop.png 1x,
                      /img/hero/foto-2-desktop@2x.png 2x"
                      width="528"
                      height="528"
                    />
                    <source
                      media="(min-width: 768px)"
                      srcset="
                      /img/hero/foto-2-tablet.png 1x,
                      /img/hero/foto-2-tablet@2x.png 2x"
                      width="292"
                      height="292"
                    />
                      <img
                        class="hero-img"
                        src="/img/hero/foto-2-tablet.png"
                        alt="meal"
                        width="292"
                        height="292"
                        loading="lazy"
                      />
                    </picture>
                </li>
                <li class="hero-img-item swiper-slide">
                  <picture>
                    <source
                      media="(min-width: 1280px)"
                      srcset="
                      /img/hero/foto-3-desktop.png 1x,
                      /img/hero/foto-3-desktop@2x.png 2x"
                      width="528"
                      height="528"
                    />
                    <source
                      media="(min-width: 768px)"
                      srcset="
                      /img/hero/foto-3-tablet.png 1x,
                      /img/hero/foto-3-tablet@2x.png 2x"
                      width="292"
                      height="292"
                    />
                      <img
                        class="hero-img"
                        src="/img/hero/foto-3-tablet.png"
                        alt="meal"
                        width="292"
                        height="292"
                        loading="lazy"
                      />
                    </picture>
                </li>
              </ul>
        
        <!-- navigation buttons -->
       <div class="swiper-nav">
        <button type="button" class="swiper-btn-prev swiper-btn" aria-label="prev slide">
          <svg class="swiper-icon" width="12" height="22">
            <use href="/img/icons.svg#arrow"></use>
          </svg>
        </button>
        <button type="button" class="swiper-btn-next swiper-btn" aria-label="next slide">
          <svg class="swiper-icon" width="12" height="22">
            <use href="/img/icons.svg#arrow"></use>
          </svg>
        </button>
       </div>
            
          </div>
      </div>
  </div>
</section>
