<section id="offerings" class="offerings">
  <div class="container offerings-container">
    <div class="offerings-wrapper-image">
    <div class="offerings-img-wrap">
      <picture>
        <source
    media="(min-width: 1280px)"
    srcset="
    ./img/offerings/apple-desktop.png 1x, 
    ./img/offerings/apple-desktop@2x.png 2x"
    width="396"
    height="502"
    loading="lazy"
  />
  <source
  media="(min-width: 768px)"
  srcset="
  ./img/offerings/apple-tablet.png 1x, 
  ./img/offerings/apple-tablet@2x.png 2x"
  widht="257"
  height="325"
  loading="lazy"
/>
<source
    media="(max-width: 767px)"
    srcset="
    ./img/offerings/apple-mobile.png 1x, 
    ./img/offerings/apple-mobile@2x.png 2x"
    widht="202"
    height="256"
    loading="lazy"
  />
      <img
        class="offerings-img"
        src="./img/offerings/apple-mobile.png"
        alt="appple"
        widht="202"
        height="256"
        loading="lazy"
      />
    </picture>
      <img
        src="./img/offerings/ellipse-shadow-bakdrop.png"
        alt="shadow"
        class="offerings-img-shadow"
        loading="lazy"
      />
    </div>
      <img 
      class="apple-img"
      src="/img/offerings/ap-2-tablet.png"
      srcset="/img/offerings/ap-2-tablet@2x.png 2x"
      alt="apple"
      width="166"
      height="210"
      loading="lazy" >
      <img 
      class="apple-small-img"
      src="/img/offerings/ap-3-tablet.png"
      srcset="/img/offerings/ap-3-tablet@2x.png 2x"
      alt="apple"
      width="108"
      height="136"
      loading="lazy" >
    </div>
    <div class="offerings-container-wrap">
      <h2 class="offerings-title">What’s Special About Our Offerings</h2>
      <p class="offerings-text">
        With our platform, you can browse through a diverse selection of
        cuisines and local restaurants, and choose from a variety of
        dishes that cater to your specific taste buds.
      </p>
      <ul id="service" class="offerings-list">
        <li class="offerings-item">
          <div class="offerings-item-icon">
            <svg class="offerings-icon">
              <use href="./img/icons.svg#rocket"></use>
            </svg>
          </div>
          <h3 class="offerings-subtitle">Fasest Delivery</h3>
          <p class="offerings-subtext">
            Our advanced logistics system and dedicated delivery partners
            ensure that your meals are delivered to you within 30-minutes.
          </p>
        </li>
        <li class="offerings-item">
          <div class="offerings-item-icon">
            <svg class="offerings-icon">
              <use href="./img/icons.svg#touch"></use>
            </svg>
          </div>
          <h3 class="offerings-subtitle">Easy To Order</h3>
          <p class="offerings-subtext">
            You can browse through a wide variety of cuisines and
            restaurants, select your favorite meals, and place your order
            in just a few clicks.
          </p>
        </li>
      </ul>
      <button class="offerings-btn" type="button" aria-label="order now">Order Now</button>
    </div>
  </div>
</section>