<section class="subscribe">
    <div class="container subscribe-container">
      <div class="subscribe-wrap">
        <h2 class="subscribe-title">Subscribe To Get Special Offers</h2>
        <p class="subscribe-text">
          Order now and receive 10% off your first meal with Enjoy Your
          Favorite Food From Anywhere.
        </p>
        <form class="subscribe-form">
          <input
            type="email"
            class="subscribe-input"
            name="subscribe-email"
            placeholder="Enter your email"
          />
          <button class="subscribe-btn" type="submit" aria-label="subscribe">
            Subscribe
          </button>
        </form>
      </div>
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
          ./img/subscribe/banan-desktop.png 1x,
          ./img/subscribe/banan-desktop@2x.png 2x"
          width="608"
          height="266"
          loading="lazy"
        />
        <!-- Tablet screen -->
      
        <source
          media="(min-width: 768px)"
          srcset="
          ./img/subscribe/banan-tablet.png 1x,
          ./img/subscribe/banan-tablet@2x.png 2x"
          width="281"
          height="136"
          loading="lazy"
        />
      
        <source
          media="(max-width: 767px)"
          srcset="
          /img/subscribe/banan-mobile.png 1x,
          /img/subscribe/banan-mobile@2x.png 2x"
          width="280"
          height="78"
          loading="lazy"
        />
      <img 
      class="subscribe-img"
      src="/img/subscribe/banan-mobile.png"
      alt="banan" 
      width="280"
      height="78" 
      loading="lazy"/>
    </section>
    </div>
    
  </section>