.favorite {
    padding-top: 60px;
    padding-bottom: 60px;
}

.favorite-titel {
    width: 280px;
    font-size: 32px;
    text-align: center;
    margin: 0 auto 20px auto;
}

.favorite-text {
    width: 280px;
    text-align: center;
    font-size: 14px;
    margin: 0 auto 60px auto;
}

.favorite-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
 
}

.favorite-item:not(:nth-child(-n+3)) {
    display: none;
}
.favorite-item {
    width: 280px;
    height: 282px;
    border: 11px solid #ffe550;
    border-radius: 140px;
    padding: 18px 17px;
    transition: border-color var(--timing-function);
}

.favorite-item:hover {
    border-color: var(--green);
}

/* TABLET */
@media screen and (min-width: 768px) {
.favorite {
    position: relative;
    top: 1110px;
    padding-top: 100px;
    padding-bottom: 100px;
}
    
.favorite-titel {
    font-size: 42px;
    width: 100%;
}
    
.favorite-text {
    font-size: 16px;
    margin-bottom: 60px;
}
    
.fovotite-text-mobile {
    display: none;
}
    
.favorite-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
}
    
.favorite-item:not(:nth-child(-n+3)) {
        display: block;
}

.favorite-item {
    width: 336px;
    height: 338px;
    border: 14px solid #ffe550;
    border-radius: 168px;
    padding: 20px;
}
}
  
/* DESKTOP */
@media screen and (min-width: 1280px) {
.favorite {
    top: 820px;
}

.favorite-text {
    margin-bottom: 40px;
}

.favorite-item {
    width: calc((100% - 64px) / 3);
    border: 16px solid #ffe550;
    border-radius: 197px;
    height: 397px;
    padding: 25px 24px;
}
}