.page-footer {
    background-image:
    image-set(
        url(/img/footer/footer-mobile.jpg) 1x,
        url(/img/footer/footer-mobile@2x.jpg) 2x
    );
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 50% 0;
    padding-top: 60px;
    padding-bottom: 60px;
    z-index: 9;
    box-shadow: 0 -4px 24px 0 rgba(105, 105, 105, 0.1);
}

.footer-wrap {
    width: 440px;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    row-gap: 50px;
    column-gap: 46px;
    margin-bottom: 80px;
    margin-right: auto;
    margin-left: auto;
}

.footer-nav {
    width: 50px;
}

.footer-nav-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 14px;
}

.footer-nav-item {
    transition: color var(--timing-function);
}

.footer-nav-item:hover,
.footer-nav-item:focus {
    color: var(--yellow);
}


.wrap-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 12px;
}

.form-footer {
    width: 440px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    margin-bottom: 24px;
}

.form-input {
    border: 0.85px solid #ffe550;
    border-radius: 30px;
    padding: 10px;
    width: 100%;
    height: 42px;
    outline: transparent;
    transition: border-color var(--timing-function);
}

.form-input::placeholder {
    font-size: 12px;
    line-height: 1.5;
    color: #505050;
}

.form-input:hover,
.form-input:focus {
    border-color: #7eb101;
}

.footer-btn {
    border: 0.85px solid #7eb101;
    border-radius: 30px;
    padding: 10px 20px;
    width: 103px;
    background-color: #ffffff;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    transition: border-color var(--timing-function);
}

.footer-btn:hover,
.footer-btn:focus {
    border: 0.85px solid #ffe450;
}

.wrap-text {
    font-size: 10px;
}

.wrap-link {
    color: var(--dark-green);
    text-decoration: underline;
    transition: color var(--timing-function);
}

.wrap-link:hover,
.wrap-link:focus {
color: var(--yellow);
}

.footer-privacy {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 46px;
}

.privacy-list {
    display: flex;
    gap: 32px;
}

.privacy-item {
    font-size: 10px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #7eb101;
    transition: color var(--timing-function);
}

.privacy-item:hover,
.privacy-item:focus {
color: var(--yellow);
}

.privacy-text {
    font-size: 10px;
}

/* MAX-WIDTH 479px */
@media screen and (max-width: 479px) {
.footer-wrap {
        width: 280px;
        row-gap: 40px;
}

.form-footer {
    width: 280px;
}
}

/* TABLET */
@media screen and (min-width: 768px) {
.page-footer {
        background-image:
        image-set(
            url(/img/footer/footer-tablet.jpg) 1x,
            url(/img/footer/footer-tablet@2x.jpg) 2x
        );
        background-size: 100% 506px;
        padding-top: 100px;
        padding-bottom: 100px;
        position: relative;
    top: 1650px;
}

.footer-wrap {
    width: 100%;
    row-gap: 40px;
    column-gap: 114px;
    align-items: center;
    margin-bottom: 100px;
}

.footer-nav {
    width: 319px;
}

.footer-nav-list {
    flex-direction: row;
    gap: 28px;
}

.form-footer {
    width: 100%;
    flex-direction: row;
    gap: 13px;
    margin-bottom: 12px;
}

.form-input {
    width: 279px;
}

.wrap-text {
    font-size: 12px;
}


.footer-privacy {
    flex-direction: row;
    justify-content: space-between;
    gap: 46px;
}

.privacy-list {
    gap: 20px;
}

.privacy-item {
    font-size: 12px;
}

.privacy-text {
    font-size: 12px;
}
}
  
/* DESKTOP */
@media screen and (min-width: 1280px) {
.page-footer {
    background-image:
        image-set(
            url(/img/footer/footer-desktop.jpg) 1x,
            url(/img/footer/footer-desktop@2x.jpg) 2x
        );
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    top: 1443px;
}
    
.footer-wrap {
    gap: 0;
    align-items: center;
    margin-bottom: 80px;
    justify-content: space-between;
}
     
}


/*==========  BACKDROP  =======*/
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color:rgba(94, 99, 99, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms ease-in-out, visibility 250ms ease-in-out;
}

.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    width: 320px;
    min-height: 449px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
    background-color: #ffe550;
    padding: 32px;
}

.modal-close-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    padding: 0;
    line-height: 0;
    border: none;
    cursor: pointer;
    border-radius: 100%;
    background-color: #ffffff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
    width: 32px;
     height: 32px;
     fill: #2c2c2c;
     transition: background-color var(--timing-function), fill var(--timing-function);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #7eb101;
    fill: #ffffff;
}

.modal-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 20px;
}

.modal-field {
    margin-bottom: 24px;
}

.modal-label {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 2px;
    margin-left: 12px;
}

.modal-input {
    border: 1px solid rgba(18, 18, 18, 0.12);
    border-radius: 30px;
    width: 100%;
    height: 48px;
    box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    outline: transparent;
    padding: 14px 12px 14px 36px;
    transition: border-color var(--timing-function);
}

.modal-input:hover
.modal-input:focus {
    border-color: #7eb101;
}

.modal-input::placeholder{
    font-size: 16px;
    line-height: 1.25;
    color: #c4c4c4;
}

.modal-field-wrap {
    position: relative;
}

.modal-icon {
    position: absolute;
    top: 50%;
    left: 14px;
    transform: translateY(-50%);
    fill: #827e7e;
    transition: fill var(--timing-function);
}

.modal-input:hover + .modal-icon, 
.modal-input:focus + .modal-icon {
    fill: #7eb101;
}

.modal-checkbox {
    margin-bottom: 32px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.modal-checkbox-input:checked + .modal-checkbox-label > .checkbox {
    background-color: #7eb101;
    fill: #ffffff;
    border: none;
}

.modal-checkbox-label {
    font-size: 14px;
    letter-spacing: -0.02em;
    color: rgba(64, 64, 64, 0.6);
}

.checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    fill: transparent;
    border-radius: 6px;
    border: 1px solid #7eb101;
    background-color: #ffffff;
    margin-right: 12px;
}

.checkbox-link {
    color: #7eb101;
    text-decoration: underline;
}

.modal-send-btn {
    display: block;
    border: 2px solid #7eb101;
    border-radius: 30px;
    padding: 10px 20px;
    min-width: 106px;
    height: 40px;
    background-color: #ffffff;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    color: #2c2c2c;
    margin: 0 auto;
    transition: background-color var(--timing-function);
}

.modal-send-btn:hover,
.modal-send-btn:focus {
    background-color: #bbf330;
}

/* TABLET */
@media screen and (min-width: 768px) {
    .modal {
        width: 458px;
        padding: 32px;
    }    
       
}
  
/* DESKTOP */
@media screen and (min-width: 1280px) {
    .modal-close-btn {
        top: 12px;
        right: 12px;
    }     
}