.hero {
    padding-top: 60px;
    padding-bottom: 50px;
    /* position: relative; */
}

.hero-title {
    max-width: 376px;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 28px;
}

.hero-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 32px;
}
.hero-img {
    display: none;
}

.swiper-btn {
    display: none;
}

.hero-btn {
    border-radius: 30px;
    border: none;
    min-width: 98px;
    padding: 6px 18px;
    background-color: var(--green);
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    transition: background-color var(--timing-function);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--yellow);
}

 /* MAX-WIDTH 479px */
@media screen and (max-width: 479px) {
.hero-title {
    font-size: 28px;
}

.hero-text {
    font-weight: 400;
    line-height: 1.43;
} 
}
  /* TABLET */
  @media screen and (min-width: 768px) {
.hero {
    padding-bottom: 0;
}

.hero-container {
    position: relative;
}

.hero-title {
    max-width: 537px;
    font-size: 42px;
    margin-bottom: 44px;
}

.hero-text {
    width: 336px;
    font-size: 16px;
    margin-bottom: 40px;
}

.hero-swiper {
    width: 320px;
    height: 320px;
    position: absolute;
    top: 89px;
    right: 40px;
}
.hero-img-list{
    display: flex;
}

.swiper.sw {
padding-left: 10px;
padding-right: 10px;
}
.hero-img {
    display: block;
    border-radius: 100%;
    border: 14px solid #ffe550;
    transition: border-color var(--timing-function);
}

.hero-img:hover,
.hero-img:focus {
    border-color: var(--green);
}

.swiper-nav {
    display: flex;
    gap: 246px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 9;
}

.swiper-btn {
    display: block;
    width: 34px;
    height: 28px;
    background-color: #fefefe;
    border: 1px solid #fefefe;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
    padding: 2px;
    transition: fill var(--timing-function);
}

.swiper-btn-prev {
    transform: rotate(180deg);
}
.swiper-icon {
    width: 12px;
    height: 22px;
}

.swiper-btn:hover {
    fill: var(--dark-green);
}
}
    
  /* DESKTOP */
@media screen and (min-width: 1280px) {
.hero {
    padding-top: 159px;
}

.hero-title {
    margin-bottom: 28px;
    width: 502px;
}

.hero-swiper {
    width: 580px;
    height: 580px;
    top: -100px;
    right: 36px;
}

.hero-img {
    border: 24px solid #ffe550;
}

.swiper-nav {
    gap: 456px;
}

.swiper-btn {
    width: 48px;
    height: 40px;
    padding: 4px;
}

.swiper-icon {
    width: 17px;
    height: 30px;
}
}