.offerings {
    background-image:
    image-set(
        url(/img/offerings/top-480.png) 1x,
        url(/img/offerings/top-480@2x.png) 2x
    );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0;
    padding-top: 90px;
    padding-bottom: 72px;
    /* width: 100%; */
    z-index: 9;
}

.apple-img {
    display: none;
}

.apple-small-img {
    display: none;
}

.offerings-img-wrap {
    position: relative;
    width: 255px;
    height: 255px;
    background-color: #fefefe;
    border-radius: 50%;
    border: 8px solid var(--yellow);
    outline: 3px solid #fefefe;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
}
  
.offerings-img {
    display: block;
    position: absolute;
    bottom: 22px;
    left: 50%;
    transform: translateX(-50%);
    z-index:1;
}

.offerings-img-shadow {
    position: absolute;
    width: 128px;
    height: 44px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
  
.offerings-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.2;
    margin-bottom: 28px;
}
  
.offerings-text {
    font-size: 14px;
    line-height: 1.43;
    margin-bottom: 28px;
}
  
.offerings-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 28px;
}
  
.offerings-item-icon {
    width: 48px;
    height: 48px;
    background-color: #fefefe;
    fill: var(--dark-green);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

.offerings-icon {
    width: 32px;
    height: 32px;
}

.offerings-subtitle {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 16px;
}
  
.offerings-subtext {
    font-size: 14px;
    line-height: 1.43;
}
  
.offerings-btn {
    border-radius: 30px;
    border: none;
    min-width: 105px;
    padding: 6px 18px;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    border: 2px solid var(--dark-green);
    background: #ffffff;
    transition: background-color var(--timing-function), border var(--timing-function);
}

.offerings-btn:focus,
.offerings-btn:hover {
    background-color: var(--green);
    border: transparent;
}

   /* MAX-WIDTH 479px */
@media screen and (max-width: 479px) {
.offerings {
    background-image: image-set(
        url(/img/offerings/top-mobile.png) 1x,
        url(/img/offerings/top-mobile@2x.png) 2x
    );
    padding-top: 82px;
}

.offerings-title {
    font-size: 28px;
}
  
}

  /* TABLET */
@media screen and (min-width: 768px) {
.offerings {
    background-image: image-set(
        url(/img/offerings/top-tablet.png) 1x,
        url(/img/offerings/top-tablet@2x.png) 2x
    );
    background-size: 768px 1140px;
    padding-top: 202px;
    padding-bottom: 89px;
    position: absolute;
    top: 434px;
    left: 50%;
    transform: translateX(-50%);
}

.offerings-wrapper-image{
    position: relative;
}

.offerings-img-wrap {
    width: 325px;
    height: 325px;
    border: 15px solid var(--yellow);
    margin-left: 0;
    margin-right: 29px;
}

.offerings-img-shadow {
    bottom: -8px;
    left: 50px;
    transform: translateX(0);
    width:199px;
    height: 92px;
}

.apple-img {
    display: block;
    width: 166px;
    height: 210px;
    position: absolute;
    top: 79px;
    right: 173px;
}

.apple-small-img {
    display: block;
    width: 108px;
    height: 136px;
    position: absolute;
    top: 153px;
    right: 21px;
}

.offerings-title {
    font-size: 42px;
    margin-bottom: 20px;
    width: 526px;
}

.offerings-text {
    font-size: 16px;
    line-height: 1.5;
    width: 500px;
    margin-bottom: 25px;
}

.offerings-list {
    flex-direction: row;
    gap: 80px;
    margin-bottom: 40px;
}

.offerings-item {
    width: 282px;
}

.offerings-subtitle {
    font-size: 18px;
}
  
.offerings-subtext {
    font-size: 14px;
    line-height: 1.43;
}
}
  
/* DESKTOP */
@media screen and (min-width: 1280px) {
.offerings {
    background-image: image-set(
        url(/img/offerings/top-desktop.png) 1x,
        url(/img/offerings/top-desktop@2x.png) 2x
    );
    background-size: 1280px 824px;
    padding-top: 230px;
    padding-bottom: 43px;
    position: absolute;
    top: 565px;
}

.apple-img {
    display: none;
}

.apple-small-img {
    display: none;
}

.offerings-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    padding-right: 51px;
}

.offerings-wrapper-image{
    padding-left: 5px;
}

.offerings-img-wrap {
    width: 550px;
    height: 550px;
    border: 24px solid var(--yellow);
    outline: 5px solid #fefefe;
    margin: 0;
}

.offerings-img {
    bottom: 80px;
    left: 60px;
    transform: translateX(0);
}

.offerings-img-shadow {
    bottom: 42px;
    left: 131px;
    width: 252px;
    height: 87px;
}

.offerings-text {
    margin-bottom: 40px;
}

.offerings-container-wrap {
    width: 573px;
}

.offerings-list {
    gap: 67px;
    margin-bottom: 32px;
}

.offerings-item {
    width: calc((100% - 67) / 2);
}
}