.offerings {
      padding-top: 113px;
      padding-bottom: 124px;
      background: #ffe550;
  }
  
  .offerings-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 16px;
      padding-right: 51px;
  }
  .offerings-img-wrap {
      position: relative;
      width: 550px;
      height: 550px;
      background-color: #fefefe;
      border-radius: 50%;
      border: 24px solid var(--yellow);
      outline: 5px solid #fefefe;
  
  }
  
  .offerings-img {
      display: block;
      position: absolute;
      bottom: 78px;
      left: 60px;
      z-index:1;
    
  }
  .offerings-img-shadow {
      position: absolute;
      bottom: 51px;
      left: 131px;
     }
  
  .offerings-container-wrap {
      width: 573px;
  }
  
  .offerings-title {
      font-size: 42px;
      line-height: 1.2;
      margin-bottom: 20px;
  }
  
  .offerings-text {
      line-height: 1.5;
      width: 500px;
      margin-bottom: 40px;
  }
  
  .offerings-list {
      display: flex;
      gap: 67px;
  }
  
  .offerings-item {
      width: calc((100% - 67) / 2);
  }

  .offerings-item-icon {
      width: 48px;
      height: 48px;
      background-color: #fefefe;
      fill: var(--dark-green);
      border-radius: 100%;
      padding: 10px;
      margin-bottom: 8px;
  }

  .offerings-subtitle {
      margin-bottom: 8px;
  }
  
  .offerings-subtext {
      font-size: 14px;
      line-height: 1.5;
      margin-bottom: 32px;
  }
  
  .offerings-btn {
      border: 2px solid #7eb101;
      background: #ffffff;
  }

  .offerings-btn:focus,
  .offerings-btn:active {
      background-color: #bbf330;
  }


  /* TABLET */
@media screen and (min-width: 768px) {
    
}
  
/* DESKTOP */
@media screen and (min-width: 1280px) {
    
}